# --------------------------------------
# Build Directories
# --------------------------------------
build/
dist/

# --------------------------------------
# GHDL
# --------------------------------------
*.cf
*.o

# --------------------------------------
# Waveforms
# --------------------------------------
*.vcd
*.ghw
*.fst

# --------------------------------------
# Synthesis Outputs
# --------------------------------------
*.json
*.blif
*.edif
*.net
*.asc
*.bin
*.bit

# --------------------------------------
# Logs
# --------------------------------------
*.log

# --------------------------------------
# Temporary Files
# --------------------------------------
*.tmp
*.bak
*~

# --------------------------------------
# Editors
# --------------------------------------
.vscode/
.idea/

# --------------------------------------
# OS
# --------------------------------------
.DS_Store
Thumbs.db